<ion-header>
  <ion-navbar>
    <ion-title>La doudou's fish</ion-title>
    <ion-item color="light">
      <ion-label>Nourir à distance</ion-label>
      <ion-toggle [(ngModel)]="aquarium.feedRemotly" (ionChange)="handlefeedRemotly()"></ion-toggle>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="aquarium.feedRemotly">
      <h1 ion-text color="primary">Nourris il y'a {{ getTimeSinceLastMeal() }} heures</h1>
    </ion-item>
    <ion-item *ngIf="aquarium.feedRemotly">
      <h2>QT restante : {{ getRemainingQuantity() }}</h2>
      <button item-end ion-button large icon-only color="dark" (click)="addMeal()">
        <ion-icon name="md-pizza"></ion-icon>
      </button>
      <button item-end ion-button large icon-only color="danger" (click)="removeMeal()">
        <ion-icon name="logo-apple"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <h2 ion-text color="primary">Eau changé il y'a {{ watterChangedFrom() }} jours</h2>
      <button item-end ion-button large icon-only color="dark" (click)="alertUserForWatter()">
        <ion-icon name="md-beer"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <ion-label colot="dark">Notes :</ion-label>
      <ion-textarea (change)="setTodo($event.target.value)" value=" {{ getTodo() }}" placeholder="Exemple : Acheter à manger pour les poissons">
      </ion-textarea>
    </ion-item>
  </ion-list>

  <div text-center *ngIf="aquarium.feedRemotly">
    <button strong ion-button large color="danger" (click)="alertUserForFeed()" icon-end>
      Nourir les bébés
      <ion-icon name="heart"></ion-icon>
    </button>
  </div>

  <ion-item *ngIf="aquarium.feedRemotly">
    <ion-label>Nourir tous les jours</ion-label>
    <ion-toggle [(ngModel)]="aquarium.feedEveryDay" (ionChange)="handleAutomatisedFood()"></ion-toggle>
  </ion-item>
</ion-content>